@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout_PC.cshtml";
}

<style type="text/css">
    .operate-list {
        display: flex;
        text-align: center;
    }

        .operate-list a {
            flex: 1;
        }

    #myModal {
        width: 760px !important;
        margin-left: -380px !important;
    }

    .modal-body {
        max-height: 500px;
    }

    .detail-title {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        color: #000;
    }

    .detail-brief {
        position: relative;
        margin-top: 15px;
        padding: 5px 30px 15px 35px;
        background-color: #fc5a59;
        color: #fff;
    }

        .detail-brief .icon-quote-left {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 36px;
            color: #efefef;
        }

        .detail-brief .icon-quote-right {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 36px;
            color: #efefef;
        }
</style>

<!-- 页面头部  -->
<div class="header">
    @{Html.RenderAction("Top", "AdminManage", new { section = "1" });}
</div>

<!-- 页面主题内容  -->
<div class="wrap-content">
    <div class="side-left">
        @{Html.RenderAction("Aside", "AdminManage", new { menu_id = "6_3" });}
    </div>
    <div class="container side-content">
        <div class="row-fluid">
            <div id="content" class="animated fadeInRight">
                <div class="row-fluid">
                    <ul class="breadcrumb">
                        <li><a href="/News/NewsList">资讯管理</a> <span class="divider">/</span></li>
                        <li class="active">新闻列表</li>
                    </ul>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>所有新闻</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <button class="btn pink" data-bind="click: addNews">添加新闻</button>
                                    </div>
                                    <div class="pull-right">
                                        <div class="input-append">
                                            <input type="text" placeholder="请输入要查询的新闻标题名称..." data-bind="value: conditionValue" />
                                            <span class="add-on" data-bind="click: search"><i class="icon-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th class="span1"><i class="icon-th-list"></i></th>
                                            <th class="span3">标题</th>
                                            <th class="span4">概要</th>
                                            <th class="span2">创建时间</th>
                                            <th class="span2"><i class="icon-cog"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: newsList" id="itemContainer">
                                        <tr>
                                            <td data-bind="text: $index() + 1"></td>
                                            <td data-bind="text: news_title"></td>
                                            <td data-bind="text: news_brief"></td>
                                            <td data-bind="text: create_time"></td>
                                            <td>
                                                <div class="operate-list">
                                                    <a data-bind="click: $parent.show" role="button" data-toggle="tooltip" data-placement="top" title="查看">
                                                        <i class="icon-eye-open"></i>&nbsp;查看
                                                    </a>
                                                    <a data-bind="click: $parent.edit" href="#" data-toggle="tooltip" data-placement="top" title="修改">
                                                        <i class="icon-pencil"></i>&nbsp;修改
                                                    </a>
                                                    <a data-bind="click: $parent.del" href="#" data-toggle="tooltip" data-placement="top" title="删除">
                                                        <i class="icon-trash"></i>&nbsp;删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="holder"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var viewModel = {
        newsList: ko.observableArray([]),
        conditionValue: ko.observable('')
    };

    viewModel.addNews = function () {
        window.location.href = '/News/AddNews';
    }

    viewModel.search = function () {
        viewModel.queryList();
    }

    viewModel.show = function () {
        window.location.href = '/News/NewsDetailInfo/' + this.id;
    }

    viewModel.edit = function () {
        window.location.href = '/News/EditNews/' + this.id;
    }

    viewModel.del = function () {
        var param = {};
        param.newsId = this.id;
        $.post('/News/delNews', param, function (data) {
            if (data.success) {
                alert('删除成功');
                viewModel.load();
            } else {
                alert(data.backMsg);
            }
        });
    }

    viewModel.queryList = function () {
        var params = {};
        params.conditionValue = viewModel.conditionValue();

        Comget('/News/getNewsList', params, function (data) {
            var newsList = data.backData.content;
            viewModel.newsList(newsList);

            $('.operate-list a').tooltip();

            $("div.holder").jPages({
                containerID: "itemContainer",
                previous: "←上一页",
                next: "下一页→",
                perPage: 10,
                delay: 100
            });
        });
    }

    viewModel.load = function () {
        viewModel.queryList();
    };

    ko.applyBindings(viewModel, $('#content')[0]);

    viewModel.load();
</script>
