@{
    Layout = "~/Views/Shared/_Layout_PC.cshtml";
}
<style type="text/css">
    .detail-imglist {
        padding: 10px;
        border: 1px solid #ddd;
        min-height: 200px;
    }

        .detail-imglist li {
            position: relative;
            width: 200px;
            height: 150px;
            margin-right: 15px;
            margin-bottom: 15px;
            padding: 5px !important;
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            vertical-align: middle;
        }

            .detail-imglist li:last-child:hover input {
                cursor: pointer;
            }

            .detail-imglist li img {
                width: 100%;
                height: 100%;
            }

            .detail-imglist li .remove {
                position: absolute;
                right: -10px;
                top: -10px;
                font-size: 22px;
                z-index: 10;
                color: #fc5a59;
            }

            .detail-imglist li input[type='file'] {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                line-height: 0;
                z-index: 10;
            }

            .detail-imglist li .add {
                position: absolute;
                top: 50%;
                left: 50%;
                display: inline-block;
                margin: -17px -48px;
            }
</style>

<!-- 页面头部  -->
<div class="header">
    @{Html.RenderAction("Top", "AdminManage", new { section = "1" });}
</div>

<!-- 页面主题内容  -->
<div class="wrap-content">
    <div class="side-left">
        @{Html.RenderAction("Aside", "AdminManage", new { menu_id = "4_1" });}
    </div>
    <div class="container side-content">
        <div class="row-fluid">
            <div id="content" class="animated fadeInRight">
                <div class="row-fluid">
                    <ul class="breadcrumb">
                        <li><a href="/Product/ProductList">产品管理</a> <span class="divider">/</span></li>
                        <li class="active">编辑产品</li>
                    </ul>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>编辑产品</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">产品封面图：</label>
                                            <div class="controls">
                                                <ul class="unstyled inline detail-imglist">
                                                    <!-- ko foreach: coverImgList -->
                                                    <li>
                                                        <img data-bind="attr: {src: $data.filePath}" />
                                                        <span class="icon-remove-sign remove" data-bind="click: $parent.removeCoverImg"></span>
                                                    </li>
                                                    <!-- /ko -->
                                                    <li>
                                                        <input type="file" data-bind="event: {change: coverFileChange}" accept="image/jpg,image/jpeg,image/png" name="file" />
                                                        <span class="btn black add"><i class="icon-upload"></i>&nbsp;上传图片</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">产品名称：</label>
                                            <div class="controls">
                                                <input type="text" data-bind="value: name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">产品类别：</label>
                                            <div class="controls">
                                                <input type="text" data-bind="value: type" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">单价：</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="text" data-bind="value: price" />
                                                    <span class="add-on">元</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">产品规格：</label>
                                            <div class="controls">
                                                <input type="text" data-bind="value: unit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">型材品牌：</label>
                                            <div class="controls">
                                                <select data-bind="options: selectStructuralSectionOptions, optionsText: 'text', optionsValue: 'value', value: structuralSection"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">五金配件：</label>
                                            <div class="controls">
                                                <select data-bind="options: selectHardwareOptions, optionsText: 'text', optionsValue: 'value', value: hardware"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">密封胶品牌：</label>
                                            <div class="controls">
                                                <select data-bind="options: selectSealantOptions, optionsText: 'text', optionsValue: 'value', value: sealant"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label">说明：</label>
                                            <div class="controls">
                                                <textarea data-bind="value: detail"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">详情图片：</label>
                                            <div class="controls">
                                                <ul class="unstyled inline detail-imglist">
                                                    <!-- ko foreach: detailImgList -->
                                                    <li>
                                                        <img data-bind="attr: {src: $data.filePath}" />
                                                        <span class="icon-remove-sign remove" data-bind="click: $parent.removeImg"></span>
                                                    </li>
                                                    <!-- /ko -->
                                                    <li>
                                                        <input type="file" data-bind="event: {change: fileChange}" accept="image/jpg,image/jpeg,image/png" name="file" />
                                                        <span class="btn black add"><i class="icon-upload"></i>&nbsp;上传图片</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <button class="btn  pink" type="button" style="padding: 10px 40px;" data-bind="click: updateProduct">确认更新</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var viewModel = {
        name: ko.observable(''),
        type: ko.observable(''),
        price: ko.observable(0),
        unit: ko.observable(''),
        detail: ko.observable(''),
        detailImgList: ko.observableArray([]),
        coverImgList: ko.observableArray([]),
        structuralSection: ko.observable(''),
        hardware: ko.observable(''),
        sealant: ko.observable(''),
        selectStructuralSectionOptions: ko.observableArray([]),
        selectHardwareOptions: ko.observableArray([]),
        selectSealantOptions: ko.observableArray([]),
    };

    viewModel.getFile = function (idList, callback) {
        var list = [];
        idList.map(function (item, index) {
            var file = {
                id: item,
                filePath: '/UpLoadFile/' + item + '.png'
            };
            list.push(file);
        });
        if (typeof callback == 'function') {
            callback(list);
        }
    }

    viewModel.queryBrandList = function (type) {
        var params = {};
        params.type = type;
        Comget('/Product/getBrandList', params, function (data) {
            if (data.success) {
                var brandList = strToJson(data.backData);
                if (type == 1) {
                    brandList.map(function (item, index) {
                        viewModel.selectStructuralSectionOptions.push({
                            "text": item.name,
                            "value": item.name
                        });
                    });
                } else if (type == 2) {
                    brandList.map(function (item, index) {
                        viewModel.selectHardwareOptions.push({
                            "text": item.name,
                            "value": item.name
                        });
                    });
                } else {
                    brandList.map(function (item, index) {
                        viewModel.selectSealantOptions.push({
                            "text": item.name,
                            "value": item.name
                        });
                    });
                }

                console.log('brandList == ', brandList);
            }         
        });
    }

    viewModel.getProductInfo = function () {
        var params = {};
        params.id = '@ViewData["id"]';
        Comget('/Product/getProductInfo', params, function (data) {
            var data = data.backData;
            console.log('data == ', data);
            viewModel.name(data.name);
            viewModel.type(data.type);
            viewModel.price(data.price);
            viewModel.unit(data.unit);
            viewModel.detail(data.detail);
            viewModel.structuralSection(data.structuralSection);
            viewModel.hardware(data.hardware);
            viewModel.sealant(data.sealant);
            if (data.coverAttaches != '') {
                viewModel.getFile(data.coverAttaches.split(','), function (data) {
                    viewModel.coverImgList(data);
                });
            }
            if (data.attaches != '') {
                viewModel.getFile(data.attaches.split(','), function (data) {
                    viewModel.detailImgList(data);
                });
            }
            loadingOut();
        });
    }

    viewModel.coverFileChange = function (data, obj) {
        fileUpLoad(data, obj, function (src, file) {
            viewModel.coverImgList.push(file);
        });
    }

    viewModel.removeCoverImg = function (file) {
        viewModel.coverImgList.remove(file);
    }

    viewModel.fileChange = function (data, obj) {
        fileUpLoad(data, obj, function (src, file) {
            console.log('file === ', file);
            viewModel.detailImgList.push(file);
        });
    }

    viewModel.removeImg = function (file) {
        viewModel.detailImgList.remove(file);
    }

    viewModel.updateProduct = function () {
        var name = viewModel.name().trim();
        var type = viewModel.type().trim();
        var price = parseFloat(viewModel.price());
        var unit = viewModel.unit().trim();
        var detail = viewModel.detail().trim();
        var attaches = viewModel.detailImgList().map(function (item, index) {
            return item.id;
        }).join(',');
        var coverAttaches = viewModel.coverImgList().map(function (item, index) {
            return item.id;
        }).join(',');

        var params = {};
        params.id = '@ViewData["id"]';
        params.name = name;
        params.type = type;
        params.price = price;
        params.unit = unit;
        params.detail = detail;
        params.attaches = attaches;
        params.coverAttaches = coverAttaches;
        params.structuralSection = viewModel.structuralSection();
        params.hardware = viewModel.hardware();
        params.sealant = viewModel.sealant();
        console.log('params === ', params);
        Compost('/Product/saveProduct', JSON.stringify(params), function (data) {
            alert('修改产品信息成功');
            setTimeout(function () {
                window.location.reload();
            }, 1000);
        });
    }

    viewModel.load = function () {
        loadingIn();
        
        viewModel.queryBrandList(1);
        viewModel.queryBrandList(2);
        viewModel.queryBrandList(3);
        viewModel.getProductInfo();
    };

    ko.applyBindings(viewModel, $('#content')[0]);

    viewModel.load();
</script>
